.main {
  margin-top: 100px;
}
.main__product {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main__gallery {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.gallery__slider {
  display: flex;
  overflow: hidden;
}

.gallery__slide {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s linear, visibility 0.4s linear;
  transform: translateX(-100vw);
}
.gallery__slider img {
  width: 100%;
}
/*----------- Skeleton--------------- */
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* ----img----- */
.skeleton__img,
.skeleton__name,
.skeleton__price,
.skeleton__color,
.skeleton__size,
.skeleton__btn,
.skeleton__increase,
.skeleton__reduce,
.skeleton__input {
  background-color: #eee !important;
  position: relative;
  overflow: hidden;
  border: none;
}
/* ----name------ */
.skeleton__name {
  min-width: 100%;
  min-height: 35px;
}
.skeleton__name::after,
.skeleton__img::after,
.skeleton__price::after,
.skeleton__size::after,
.skeleton__color::after,
.skeleton__btn::after,
.skeleton__increase::after,
.skeleton__reduce::after,
.skeleton__input::after {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: #f6f2f2;
  inset: 0;
  /* opacity: 0; */
  animation: loading 0.9s linear infinite;
  transition: transform 1s linear;
}
.skeleton__price {
  display: inline-block;
  min-width: 60px;
  min-height: 20px;
}

.skeleton__size {
  min-height: 30px;
  border: none !important;
}
.skeleton__btn {
  padding: 30px;
  min-width: 200px;
  border-radius: 20px;
}
/* -------------End Skeleton----------- */
.gallery__btn--prev i {
  transform: rotate(180deg);
}
.gallery__btn--prev,
.gallery__btn--next {
  position: absolute;
  font-size: 3rem;
  z-index: 2;
  cursor: pointer;
}
.point__slide {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 2rem;
  display: flex;
  gap: 3px;
}

.point__slide div {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 100%;
}
.gallery__btn--prev {
  left: 0;
}
.gallery__btn--next {
  right: 0;
}
.gallery__slide.active {
  opacity: 1;
  display: block;
  visibility: visible;
  transform: translateX(0);
}
.point__slide div.active {
  background-color: orange;
}
/* ---------------------detail information of product--------------------- */
.main__detail--product {
  flex-basis: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  flex-direction: column;
}
.product__name--detail {
  text-align: left;
  font-size: 3rem;
}
.product__price {
  margin-top: 10px;
  display: inline-block;

  font-weight: 400;
}
.product__color,
.product__price,
.product__quantity,
.product__size {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.product__size strong {
  margin-right: 70px;
}
.product__size span {
  display: inline-block;
  width: 30px;
  text-align: center;
  border: 1px solid #333;
  cursor: pointer;
}
.product__color span.active {
  border: 2px solid orange;
}
.product__size span.active {
  background: var(--linear-color);
}
.product__quantity {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product__quantity input {
  width: 20%;
  height: 30px;
  text-align: center;
  outline: none;
}

.reduce,
.increase {
  width: 15%;
  height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.product__cta {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}
.addCart,
.buyNow {
  width: 50%;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buyNow {
  position: relative;
  overflow: hidden;
  background-color: orange;
  /* border: 1px solid #333; */
  /* border-top: 1px solid #333; */
}
.buyNow::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  /* border-radius: 30px; */
  opacity: 0.4;

  animation: callToAction 1s infinite;
}
@keyframes callToAction {
  0% {
    width: 0;
    left: 0;
    right: 100%;
  }
  100% {
    width: 100%;
    left: 100%;
    right: 0;
  }
}
.product__quantity strong {
  margin-right: 30px;
}
.product__price strong {
  margin-right: 80px;
}
.product__color strong {
  margin-right: 68px;
}
.product__color span {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-bottom: -1px;
  border-radius: 100%;
  background-color: red;
  box-shadow: 1px 1px 5px #333;
}

/* ---------------------- Highlight--------------------------- */
.main__highlight {
  display: flex;
  flex-wrap: wrap;
}
.main__highlight--return img,
.main__highlight--ship img,
.main__highlight--guarantee img,
.main__highlight--card img {
  width: 35%;
}
.main__highlight--return,
.main__highlight--ship,
.main__highlight--guarantee {
  flex-basis: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 500;
}
.main__highlight--card {
  flex-basis: 60%;
  margin: 10px auto;
  position: relative;
  display: flex;
  align-items: center;
  border: 3px orange solid;
  border-radius: 15px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 18px 10px;
  gap: 10px;
}

.main__highlight--card span:last-child {
  display: block;
  margin-top: 5px;
  /* bottom: 20px; */
}

.main__highlight--return span,
.main__highlight--ship span,
.main__highlight--guarantee span {
  display: inline-block;
  width: 60%;
  text-align: center;
}
/* ---------------------Detail Product---------------------------- */
.main__detail {
  margin-bottom: 50px;
}
.text {
  overflow: hidden;
}
.text.active {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  height: 75px;
}
.main__detail h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.main__detail h4 {
  font-size: 1.4rem;
}
.content,
.origin,
.material,
.btn__more--less {
  font-size: 1.3rem;
  margin: 10px 0;
}
/* -----------------------Feedback---------------------------- */
.main__feedback {
  font-size: 1.4rem;
  /* margin-bottom: 10px; */
}
.main__feedback h4 {
  margin-bottom: 20px;
}
.feedback__input {
}
.feedback__input label {
  margin-right: 10px;
  font-weight: bold;
  line-height: 1.8rem;
}
.feedback__input input {
  /* outline-offset: 4px; */
  /* border: none; */
  outline: none;
  padding: 3px;
}
.core__feedback {
  overflow: hidden;
}
.core__feedback.active {
  height: 180px;
}

.feedback__user--name strong {
  display: inline-block;
  background-color: rgba(48, 103, 220, 0.386);
  padding: 4px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.feedback__content {
  margin-bottom: 50px;
}
.feedback__content strong {
  background-color: greenyellow;
  border-radius: 10px;
  padding: 3px;
}

.btn__more--less {
}
.fa-solid {
}
.fa-circle-chevron-down {
}
.cart__content--product {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__img {
  flex-basis: 20%;
}
.product__img img {
  width: 100%;
  border-radius: 10px;
}
.product__name {
  font-size: 1.5rem;
  flex-basis: 40%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.product__quality {
  flex-basis: 20%;
}
.size {
  font-size: 1.4rem;
  flex-basis: 20%;
}
.product__quality input {
  width: 80%;
  text-align: center;
  height: 23px;
}
.cart__content--product button {
  width: 20%;
  height: 23px;
}
@media (min-width: 800px) {
  .main__product {
    flex-direction: row;
  }
  .main__gallery {
    flex-basis: 35%;
  }
  /* ------------------------- Option Product------------------- */
  .main__detail--product {
    flex-basis: 40%;
  }
  /* ----------------------Highlight------------------------------ */
  .main__highlight {
    flex-basis: 25%;
    flex-direction: column;
    height: 310px;
  }
  /* .main__highlight--card {
    flex-basis: 33%;
  } */
  .main__highlight--card {
    flex-direction: row !important;
    gap: 10px;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  .main__highlight--return img,
  .main__highlight--ship img,
  .main__highlight--guarantee img {
    width: 15%;
  }
  .main__highlight--return,
  .main__highlight--ship,
  .main__highlight--guarantee,
  .main__highlight--card {
    flex-basis: calc(100% / 4);
    font-size: 1.5rem;
  }
  /* --------------Detail Product----------------- */
  .text.active {
    height: 60px;
  }
}
