/* --------------------------Header infor-------------------------- */

/* ----------------------------Main-content------------------------------------- */
.main {
  margin-top: 64px;
  padding-top: 10px;
}
.main__header {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__picture {
  width: 100%;
  text-align: center;
}
.main__picture img {
  border-radius: 15px;
  width: 100%;
}
.main__slogan {
  display: inline-block;
  margin-top: 10px;
}
.main__slogan,
.main__desc {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.main__tilte {
  margin: 20px 0;
  font-size: 3rem;
}
.main__desc {
  margin-bottom: 10px;
}
.main__input {
  margin-top: 40px;
  background-color: #fff;
  height: 120px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  padding: 10px 0;
}

.main__input input,
.main__box--dropdown {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 15px;
  margin-top: 5px;
}
.main__box--input,
.main__box--dropdown {
  flex-basis: 50%;
  width: 90%;
  border-radius: 25px;
}
.main__box--dropdown {
  background-color: var(--key-color);
}
.submit {
  display: none;
}
.main__score {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0;
}
.main__result {
  font-size: 3rem;
  color: #232323;
}
/* -----------------------------Product---------------------------------------------- */
.product__header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__name {
  font-size: 2.5rem;
  font-weight: 600;
}
.product__seeAll {
  outline: none;
  border: 2px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  background: var(--linear-color);
}
.main__items {
  /* display: grid; */
  display: flex;

  flex-wrap: wrap;
  /* gap: 10px 10px; */
  row-gap: 30px;
  /* align-items: center; */
  /* grid-template-columns: repeat(2, 1fr); */
  justify-content: start;
  column-gap: 10px;
}
.item {
  flex-basis: calc(100% / 2 - 5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s linear;
}

.item__img {
  text-align: center;
  height: 80%;
}

.item img {
  display: flex;
  justify-content: stretch;
  width: 100%;
  min-height: 259px;
  height: 100%;
  object-fit: cover;
  object-position: cover;
}
.item__text {
  margin-left: 15px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
}
.item__name {
  padding: 0;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
/* ---------------Skeletion------------- */

.skeleton__name,
.skeleton__img,
.skeleton__para div,
.skeleton__price {
  position: relative;
  background-color: #eee;
  overflow: hidden;
}
.skeleton__name::after,
.skeleton__img::after,
.skeleton__para div::after {
  content: "";
  inset: 0;
  animation: loading 0.8s infinite;
  background-color: #f6f2f2;
  position: absolute;
}

.skeleton__para {
  display: flex;
  background: #eeeeee8a;
  justify-content: space-between;
}
.skeleton__para div {
  overflow: hidden;
  flex-basis: 30%;
  min-width: 86px;
  min-height: 30px;
}

.skeleton__price {
  display: inline-block;
  min-width: 25%;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* ------------End Keletion-------- */
.item__para {
  display: flex;
  justify-content: space-evenly;
}

.item__price {
  color: var(--btn-color);
}
/* ----------------------footer----------------------------- */
.footer {
  margin-top: 20px;
  padding-top: 10px;
  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
}
.footer__aboutPage {
  display: grid;
  align-items: center;
}
.footer__contact {
}
.footer__picture {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer__picture--logo {
}
.footer__picture--notification img {
  width: 60%;
  object-fit: cover;
}
.footer__contact p {
  width: 80%;
  color: var(--text-color);
  font-size: 1.5rem;
}
.footer__contact a,
.footer__contact div,
.footer__policy a,
.footer__service a,
.footer__def a {
  display: flex;
  text-decoration: none;
  margin: 10px 0;
  align-items: center;
  /* display: block; */
  gap: 15px;
  font-size: 1.5rem;
  color: #333;
}
.footer__title {
  font-size: 2rem;
  font-weight: 700;
}
.footer__sourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.footer__social {
  display: flex;
  gap: 10px;
}
.active {
  color: var(--btn-color) !important;
  position: relative;
  overflow: hidden;
}
/* -----------------------------responsive----------------------------------- */
@media (min-width: 800px) {
  /* ----------------------main-intro--------------- */
  .header__choose--item {
    padding: 0;
  }
  .main__intro {
    align-content: end;
    display: grid;
  }

  .main__picture {
    grid-column-start: 2;
  }
  .main__text {
    grid-row: 1;
  }
  .main__slogan,
  .main__desc {
    font-size: 2rem;
  }
  .main__tilte {
    font-size: 5rem;
    width: 80%;
  }
  .main__score {
    font-size: 2.2rem;
  }
  .main__result {
    font-size: 5rem;
  }
  .main__input {
    width: 90%;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;
  }
  .main__box--input {
    flex-basis: 70%;
    height: 80%;
  }
  .main__box--input input {
    margin: 0;
  }
  .main__box--dropdown {
    margin: 0;
    flex-basis: 30%;
    height: 80%;
  }
  .submit {
    border-radius: 50%;
    border: none;
    display: block;
    background-color: rgb(255, 115, 0);
  }
  .item img {
    min-height: 296px;
    height: 100%;
  }
  /* ---------------Product------------------------- */
  .item {
    flex-basis: calc(100% / 3 - 10px);
  }
  /* -----------------Footer----------------- */
  .footer__aboutPage {
    grid-template-columns: repeat(2, 1fr);
  }
  .active,
  .active::after {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 980px) {
  .footer__aboutPage {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .header__logo {
    flex-basis: 30%;
  }
  .main__items {
  }
  .item {
    flex-basis: calc(100% / 4 - 10px);
  }
}
