* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
}
/* --------------------------Header infor-------------------------- */
.wrapper {
  /* border: 1px red solid; */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.header {
  background-color: #fff;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.bar__icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 20px;
}
.bar__icon span:first-child,
.bar__icon span:last-child {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: orange;
}
.bar__icon span:nth-child(2) {
  display: inline-block;
  width: 20px;
  height: 5px;
  background-color: orange;
}
.bar__icon span:first-child,
.bar__icon span:last-child,
.bar__icon span:nth-child(2) {
  border-radius: 15px;
}
.header__infor {
  margin-top: 10px;
}
.header__logo {
  flex-basis: 40%;
}

.header__nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  width: 50vw;
  padding: 10px;
  position: fixed;
  /* display: none; */
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  transition: transform 0.5s ease;
  font-size: 1.4rem;
}
.list__mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-weight: 600;
  /* border-bottom: 1px solid #fff; */
}
.display__navbar,
.display__cart {
  transform: translateX(0);
}
.hide__navbar {
  transform: translateX(-100vw);
}
.hide__cart {
  transform: translateX(100vw);
}
.overlay {
  z-index: 3;
  position: fixed;
  inset: 0;
  background-color: #33333367;
  transition: transform 0.4444s ease-in;
}
.hide {
  display: none;
  opacity: 0;
}
.display {
  display: block;
  opacity: 1;
}
.header__choose {
  margin-top: 20px;
  font-weight: 600;
}
.header__choose a {
  display: block;
}
.header__choose--item {
  text-decoration: none;
  color: #333;
  padding: 20px 0;
  border-top: 1px solid #333;
}

.header__logo {
  padding: 10px 0;
  text-align: center;
}
.header__cart {
  position: relative;
  text-align: center;
  cursor: pointer;
}
.block__cart {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80vw;
  background-color: #fff;
  padding: 20px 10px;
  transition: transform 0.4s ease;
  /* display: none; */
  /* transform: translateX(100vw); */
}
.cart__head {
  display: flex;
  justify-content: space-between;
}
.cart__submit {
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  font-weight: 500;
  margin-top: 5px;
  background-color: var(--btn-color);
  color: #fff;
  border-radius: 15px;
}
.header__cart::before {
  content: "1";
  text-align: center;
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  right: 5%;
}
.header__cart img {
  width: 50%;
}
/* ----------------------------Main-content------------------------------------- */
.main {
  margin-top: 64px;
  padding-top: 10px;
}
.main__header {
  background-image: url("./img/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__picture {
  width: 100%;
  text-align: center;
}
.main__picture img {
  border-radius: 15px;
  width: 100%;
}
.main__slogan {
  display: inline-block;
  margin-top: 10px;
}
.main__slogan,
.main__desc {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.main__tilte {
  margin: 20px 0;
  font-size: 3rem;
}
.main__desc {
  margin-bottom: 10px;
}
.main__input {
  margin-top: 40px;
  background-color: #fff;
  height: 120px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  padding: 10px 0;
}

.main__input input,
.main__box--dropdown {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 15px;
  margin-top: 5px;
}
.main__box--input,
.main__box--dropdown {
  flex-basis: 50%;
  width: 90%;
  border-radius: 25px;
}
.main__box--dropdown {
  background-color: var(--key-color);
}
.submit {
  display: none;
}
.main__score {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0;
}
.main__result {
  font-size: 3rem;
  color: #232323;
}
/* -----------------------------Product---------------------------------------------- */
.product__header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__name {
  font-size: 2.5rem;
  font-weight: 600;
}
.product__seeAll {
  outline: none;
  border: 2px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  background: var(--linear-color);
}
.main__items {
  display: grid;
  gap: 60px 10px;
  /* align-items: center; */
  grid-template-columns: repeat(2, 1fr);
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.3s linear;
}
.item:active {
  transform: scale(0.98);
}

.item__img {
  text-align: center;
  height: 80%;
}
.item img {
  width: 100%;
  min-height: 259px;
  height: 100%;
  object-fit: cover;
  object-position: cover;
}
.item__text {
  margin-left: 15px;
}
.item__name {
  /* text-align: center; */
  padding: 0;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.item__para {
  display: flex;
  justify-content: space-evenly;
}
.item__price {
  color: var(--btn-color);
}
/* ----------------------footer----------------------------- */
.footer {
  margin-top: 20px;
  padding-top: 10px;
  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
}
.footer__aboutPage {
  display: grid;
  align-items: center;
}
.footer__contact {
}
.footer__picture {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer__picture--logo {
}
.footer__picture--notification img {
  width: 60%;
  object-fit: cover;
}
.footer__contact p {
  width: 80%;
  color: var(--text-color);
  font-size: 1.5rem;
}
.footer__contact a,
.footer__contact div,
.footer__policy a,
.footer__service a,
.footer__def a {
  display: flex;
  text-decoration: none;
  margin: 10px 0;
  align-items: center;
  /* display: block; */
  gap: 15px;
  font-size: 1.5rem;
  color: #333;
}
.footer__title {
  font-size: 2rem;
  font-weight: 700;
}
.footer__sourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.footer__social {
  display: flex;
  gap: 10px;
}
.active {
  color: var(--btn-color) !important;
  position: relative;
  overflow: hidden;
}
/* -----------------------------responsive----------------------------------- */
@media (min-width: 800px) {
  .wrapper {
    padding: 0 1.5rem;
  }
  .list__mobile {
    display: none;
  }
  .bar__icon {
    display: none;
  }
  .header__logo {
    flex-basis: 15%;
  }
  .header__list {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: auto;
    padding: 10px;
    position: static;
    inset: unset;
    /* display: none; */
    /* display: flex; */
    flex-direction: row;
    flex-grow: 1;
    background-color: #fff;
    transform: translateX(0);
  }
  .block__cart {
    width: 30vw;
  }
  .header__choose {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    font-size: 1.3rem;
  }
  .header__choose--item {
    border: none;
    font-size: 1.5rem;
    padding: 0;
  }

  .active.header__choose--item {
    overflow: unset;
  }

  .header__choose--item:active ~ .active::after {
    /* opacity: 1; */
  }
  .active::after {
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s linear;

    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    content: "";
    width: 100%;
    height: 4px;
    /* display: inline-block; */
    background-color: #333;
  }
  .overlay {
    /* display: none; */
  }
  /* ----------------------main-intro--------------- */
  .header__choose--item {
    padding: 0;
  }
  .main__intro {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-content: end;
  }

  .main__picture {
    grid-column-start: 2;
  }
  .main__text {
    grid-row: 1;
  }
  .main__slogan,
  .main__desc {
    font-size: 2rem;
  }
  .main__tilte {
    font-size: 5rem;
    width: 80%;
  }
  .main__score {
    font-size: 2.2rem;
  }
  .main__result {
    font-size: 5rem;
    color: ;
  }
  .main__input {
    width: 90%;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;
  }
  .main__box--input {
    flex-basis: 70%;
    height: 80%;
  }
  .main__box--input input {
    margin: 0;
  }
  .main__box--dropdown {
    margin: 0;
    flex-basis: 30%;
    height: 80%;
  }
  .submit {
    border-radius: 50%;
    border: none;
    display: block;
    background-color: rgb(255, 115, 0);
  }
  .item img {
    min-height: 296px;
    height: 100%;
  }
  /* ---------------Product------------------------- */
  .main__items {
    grid-template-columns: repeat(3, 1fr);
  }
  /* -----------------Footer----------------- */
  .footer__aboutPage {
    grid-template-columns: repeat(2, 1fr);
  }
  .active,
  .active::after {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 980px) {
  .footer__aboutPage {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .header__logo {
    flex-basis: 30%;
  }
  .main__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
